<f:layout name="Default" />
    <f:section name="content">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
        <f:debug>{_all}</f:debug>
        <div>
        <div style="display:flex; justify-content:center; align-content: center;">{Text}</div> 
            <f:if condition="{Select} === 'line'">
                <script>
                    var chartType = '{Select}';
                    var obj = JSON.parse('<f:format.htmlentitiesDecode>{csvdata}</f:format.htmlentitiesDecode>');
                    var label = JSON.parse('<f:format.htmlentitiesDecode>{csvlabel}</f:format.htmlentitiesDecode>');
                    var labels = JSON.parse('<f:format.htmlentitiesDecode>{csvlabels}</f:format.htmlentitiesDecode>');
                    
                  

                    var ctx = document.getElementById('myChart').getContext('2d');
                    
                    var arraydata = [];
                    var arraylabels = [];
                    
                    for (let i = 0, j = 0; i < obj.length, j <label.length; i ++, j ++) {
                
                    var dataset = {
                        
                        label: label[j],
                        data: obj[i],
                        backgroundColor: '#e46bff30',
                        borderColor: '#e46bff',
                        lineTension: 0,
                        pointBackgroundColor: 'white',
                        pointBorderColor: '#e46bff',

                    }
                    arraydata.push(dataset);
                    
                
                }
                console.log(arraydata);
                console.log(arraylabels);
                console.log(obj);
                
                for(let k = 0; k <labels.length; k ++) {
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels[k],
                        datasets: arraydata
                    }
                })
            }
                </script>
            </f:if>
        <canvas class="chartum" id="myChart"></canvas>
        <a style="display:flex; justify-content:center; align-content: center;" href="fileadmin/user_upload/{download}.csv" download>Télécharger</a>
    </div>
</f:section>



