<f:layout name="Default" />
    <f:section name="content">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
        <f:debug>{_all}</f:debug>
        <noscript>Veuillez Activer JS</noscript>
        <div style="background-color: {Input}; display:flex; flex-direction:column; justify-content:center; align-items:center;">
        <div>{Text}</div>
            <f:if condition="{Select} == 'Pie'">
                <script>
                    var obj = JSON.parse('<f:format.htmlentitiesDecode>{csvdata}</f:format.htmlentitiesDecode>');
                    console.log(<f:format.htmlentitiesDecode>{csvdata}</f:format.htmlentitiesDecode>);
        
        //ChartJS
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                        labels: obj[0],
                        datasets: [{
                            label: 'Total mensuel',
                            data: obj[1],
                            backgroundColor: [
                                'rgba(7,87,97,0.2)',
                            ],
                            borderColor: '#075761',
                            lineTension: 0,
                            pointBackgroundColor: 'white',
                            pointBorderColor: '#075761',
                            },
                            {
                            label: 'Moyenne Interannuelle',
                            data: obj[2],
                            borderColor: '#de3153',
                            lineTension: 0,
                            backgroundColor: "rgba(255,255,255,0.2)",
                            pointBackgroundColor: 'white',
                            pointBorderColor: '#de3153', 
                            }] 
                        }
                    })
                </script>
            </f:if>
            <f:if condition="{Select} == 'Doughnut'">
                <script>
                    var obj = JSON.parse('<f:format.htmlentitiesDecode>{csvdata}</f:format.htmlentitiesDecode>');
                    console.log(<f:format.htmlentitiesDecode>{csvdata}</f:format.htmlentitiesDecode>);
        
        //ChartJS
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                        labels: obj[0],
                        datasets: [{
                            label: 'Total mensuel',
                            data: obj[1],
                            backgroundColor: [
                                'rgba(7,87,97,0.2)',
                            ],
                            borderColor: '#075761',
                            lineTension: 0,
                            pointBackgroundColor: 'white',
                            pointBorderColor: '#075761',
                            },
                            {
                            label: 'Moyenne Interannuelle',
                            data: obj[2],
                            borderColor: '#de3153',
                            lineTension: 0,
                            backgroundColor: "rgba(255,255,255,0.2)",
                            pointBackgroundColor: 'white',
                            pointBorderColor: '#de3153', 
                            }] 
                        }
                    })
                </script>
            </f:if>
            <f:if condition="{Select} == 'Bar'">
                <script>
                    var obj = JSON.parse('<f:format.htmlentitiesDecode>{csvdata}</f:format.htmlentitiesDecode>');
                    console.log(<f:format.htmlentitiesDecode>{csvdata}</f:format.htmlentitiesDecode>);
        
        //ChartJS
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                        labels: obj[0],
                        datasets: [{
                            label: 'Total mensuel',
                            data: obj[1],
                            backgroundColor: [
                                'rgba(7,87,97,0.2)',
                            ],
                            borderColor: '#075761',
                            lineTension: 0,
                            pointBackgroundColor: 'white',
                            pointBorderColor: '#075761',
                            },
                            {
                            label: 'Moyenne Interannuelle',
                            data: obj[2],
                            borderColor: '#de3153',
                            lineTension: 0,
                            backgroundColor: "rgba(255,255,255,0.2)",
                            pointBackgroundColor: 'white',
                            pointBorderColor: '#de3153', 
                            }] 
                        }
                    })
                </script>
            </f:if>
            <f:if condition="{Select} == 'Line'">
                <script>
                    var obj = JSON.parse('<f:format.htmlentitiesDecode>{csvdata}</f:format.htmlentitiesDecode>');
                    console.log(<f:format.htmlentitiesDecode>{csvdata}</f:format.htmlentitiesDecode>);
        
        //ChartJS
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                        labels: obj[0],
                        datasets: [{
                            label: '',
                            data: obj[1],
                            backgroundColor: [
                                'rgba(7,87,97,0.2)',
                            ],
                            borderColor: '#075761',
                            lineTension: 0,
                            pointBackgroundColor: 'white',
                            pointBorderColor: '#075761',
                            },
                            {
                            label: '',
                            data: obj[2],
                            borderColor: '#de3153',
                            lineTension: 0,
                            backgroundColor: "rgba(255,255,255,0.2)",
                            pointBackgroundColor: 'white',
                            pointBorderColor: '#de3153', 
                            }] 
                        }
                    });
                </script>
            </f:if>
            <f:if condition="{Select} == 'Radar'">
                <script>
                    var obj = JSON.parse('<f:format.htmlentitiesDecode>{csvdata}</f:format.htmlentitiesDecode>');
                    console.log(obj);
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var arraydata = [];
                    for(var i=1 ;i<obj.length ;i++) {
                        var objlength = obj[i].length;
                        var color = obj[i][objlength-1];
                        var transcolor = "30";
                        var dataset = {
                            label: obj[i][0],
                            data: obj[i].slice(1, obj[i].length - 1),
                            backgroundColor: 'rgba(255, 102, 204, 0.3)',
                            borderColor:  color ,
                            lineTension: 0,
                            pointBackgroundColor: 'white',
                            pointBorderColor: color,}
                            console.log(obj[i].slice(1, objlength -2))
                        arraydata.push(dataset);

                    }
                    
                        console.log(arraydata);
                        var myChart = new Chart(ctx, {
                            
                            type: 'line',
                            data: {
                                labels: obj[0].slice(1, obj[0].length -1),
                                
                                 datasets: arraydata
                            }
                            
                        })
                        
                        
                    
                </script>
                <script>
                    var obj = JSON.parse('<f:format.htmlentitiesDecode>{csvdata}</f:format.htmlentitiesDecode>');
                    console.log(obj);

                </script>
            </f:if>
        <canvas class="chartum" id="myChart"></canvas>
        <a href="fileadmin/user_upload/downloadfile.csv" download>Télécharger</a>
    </div>
</f:section>